<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.jaimemorais.MyHealthJournal" android:versionCode="1" android:versionName="0.0.1">
	<uses-sdk android:minSdkVersion="19" />
	<application android:label="MyHealthJournal.Droid" android:theme="@style/MyTheme" android:icon="@drawable/icon"></application>
</manifest>